<input type="text" [(ngModel)]="title"> <!--ngModel es una directiva-->
<!-- {{title}} -->

<div *ngIf="title === 'willy'"> <!-- *ngIf es otra directiva -->
    Este es Willy
</div>

<div *ngIf="title === 'nicolas'"> <!-- *ngIf es otra directiva -->
  Este es Nicolas
</div>

<div *ngIf="title === 'camilo'"> <!-- *ngIf es otra directiva -->
  Este es Camilo
</div>

<!-- <div [ngSwitch]="title">
  <p *ngSwitchCase="'nicolas'">Este es nicolas</p>
  <p *ngSwitchCase="'willy'">Este es Willy</p>
  <p *ngSwitchCase="'camilo'">Este es camilo</p>
  <p *ngSwitchDefault>No hay match</p>
</div> -->

<div *ngIf="title === 'Store'; then store else welcome">
    Simple vista ss
  </div>
  <!-- Vista o template-->
  <ng-template #store>
    Mostrando contenido
  </ng-template>
  
  <ng-template #welcome>
    Bienvenido a Platzi Store
  </ng-template>

  <button (click)="addItem()">Add item</button>

  <ul>
    <li *ngIf="items.length === 0">La Lista esta vacia</li>
    <li *ngFor="let name of items; index as i"> <!-- *ngFor es otra directiva-->
      {{i}} - {{name}}
      <button (click)="deleteItem(i)">delete</button>
    </li>
  </ul>

  <div *ngFor="let product of products">
    {{product.title}}
    <img [src]="product.image" alt="imagenes">
    ${{product.price}}
  </div>